!!!
%html
  %head
    %title= "Is Yammer Down?"
    %style{ :type => 'text/css', :media => 'screen' }
      @import 'style.css';
        
  %body
    #wrap
      #header
        #logo
          %a{ :href => "http://yammer.com", :target => "blank" } 
            %img{ :src => 'iyd.png', :height => 105 }
      #main.clearfix
        = yield
    #footer
      #sinatra
        %a{ :href => "http://www.sinatrarb.com", :target => "blank" } 
          %img{ :src => 'sinatra.png', :height => 75 }
      #dmz
        %a{ :href => "http://dmz.us", :target => "blank" }
          %img{ :src => 'dmz.png', :height => 100 }